$gradas:100vw;
$bg:    url(../../img/raceui/bgGradas.png);
$pista: url(../../img/raceui/pista.png);
$gradasImg:url(../../img/raceui/gradas.png);
.bgRaceUi{
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    position:fixed;
    top: 0px;
    left: 0px;
}
.raceUi{
    height: 100vh;
    width: 100vw;
    background-color: #c9c041;
    background:linear-gradient(rgba(0, 0, 0, 0.315),rgba(13, 13, 22, 0.452)),$bg;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding-top: 0px;
    z-index: 1;
    background-size: 200vw 80vh;
    background-repeat:repeat-x;
    background-position: top;
    animation-duration:40s;
    animation-name: backUi;
    animation-timing-function: linear;
    animation-duration: 200s;
    animation-iteration-count: infinite;
}
@keyframes backUi{
    0%{
        background-position-x: left;
    }
    100%{
        background-position-x: right;
    } 
}

.bg-gradas{
    top: 150px;
    position: fixed;
    height: 60vh;
    width: 100vw;
    background-image: $gradasImg;
    background-repeat:repeat-x;
    /* background-position-x: right;
    background-position-y:top; */
    background-size:$gradas 100%;
    animation-name: gradas;
    animation-timing-function: linear;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

@keyframes gradas {
    0%{
        background-position-x: $gradas;
    }
    100%{
        background-position-x: 0vw;
    }
}

.bg-pista{
    height: 100vh;
    width: 100vw;
    background-image:$pista;
    background-repeat:repeat-x;
    background-position-x: right;
    background-size: cover;
    animation-name: pista;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    position: fixed;
    bottom: 0px;
    z-index: inherit;
}

@keyframes pista {
    0%{
        background-position-x: 14000px;
    }
    100%{
        background-position-x: 0px;
    }
}

.dog1{
    position: absolute;
    left:0px;
    bottom: 170px;
    height: 120px;
    z-index: 1;
}
.dog2{
    position: absolute;
    left: 0px;
    bottom: 150px;
    height: 125px;
    z-index: 1;
}
.dog3{
    position: absolute;
    left: 0px;
    bottom: 130px;
    height: 140px;
   z-index: 1;
}
.dog4{
    position: absolute;
    left: 0px;
    bottom: 110px;
    height: 150px;
   z-index: 5;
}
.dog5{
    position: absolute;
    left: 0px;
    bottom: 90px;
    height: 158px;
    z-index: 6;
    
}
.dog6{
    position: absolute;
    bottom: 70px;
    height: 170px;
    z-index: 7;
}
.dogImg{
    // width: 350px;
    height: 100%;
}
.meta{
    height: 150px;
    background-color: rgba(115, 246, 255, 0.664);
    width: 12px;
    transform: skew(20deg);
    left: 120vw;
    bottom: 55px;
    position: absolute;
    animation-name: meta;
    animation-duration: 7s;
    animation-delay: 57s;
    animation-timing-function: linear;
    z-index: 0;
}
.mts{
    height: 150px;
    color: rgba(240, 248, 255, 0.712);
    transform: skew(20deg);
    padding-left: 10px;
    left: 120vw;
    text-align: center;
    bottom: 55px;
    width: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.315);
    font-size: 40px;
    position: absolute;
    animation-name: m100;
    animation-duration: 7s;
    animation-timing-function: linear;
    z-index: 0;
}
.mts100{animation-delay: 10s;}
.mts200{animation-delay: 20s;}
.mts300{animation-delay: 30s;}
.mts400{animation-delay: 40s;}
.mts500{animation-delay: 50s;}

@keyframes m100 {
    0%{
        left: 120vw;

    }
    100%{
        left: -20vw;

    }
}
@keyframes meta {
    0%{
        left: 120vw;

    }
    100%{
        left: -20vw;

    }
}

.guia2{
    width: 15px;
    height: 20px;
    border-top: 20px solid rgba(190, 253, 206, 0.863);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: 20px;
    left: 55%;
    position: absolute;
    animation: selectorX 1s infinite;
    z-index: 999;
}
@keyframes selectorX {
    0% {
        border-top: 20px solid rgba(86, 230, 122, 0.938);
        transform: scale(1);
        top: 20px;
    }
    50%{
        border-top: 20px solid rgba(190, 253, 206, 0.507);
        transform: scale(0.9);
        top: 0px; 
    }
    100%{
        border-top: 20px solid rgba(64, 231, 106, 0.863);
        top: 20px;
        transform: scale(1);
    }
}

.modalX .modal{
    width: 31%;
    height: 60%;
    border-radius: 8px 8px 40px 40px;
    background-color: #0f161c;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    color: #fffc4f;
    position: relative;
    z-index: 1;
    font-weight: 600;
    overflow: visible;
}

.modalX .modal h2 {
    margin-top: 50px;
    font-size: 90px;
}
  
.modalX .modal .modal-body {
// position: relative;
text-align: center;
}
.modalX .modal .place {
    // position: absolute;
    top: 170px;
    left: 20px;
    font-size: 30px;
    width: 300px;
    text-align: center;
  }
  
  .modalX .modal button {
    background-color: #c9c041 !important;
    border-bottom: 4px solid #fffc4f !important;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .modalX .modal .circle {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #0f161c;
    top: -50px;
    z-index: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  
  .modalX .modal .trofeo {
    z-index: 1;
    width: 100%;
    max-width: 80px;
  }
  
  .timeLine{
      z-index: 2;
      position: fixed;
      padding:10px;
      box-sizing: border-box;
      position: fixed;
      width: 90vw;
      left: 5vw;
  }

$timelineColor:rgb(255, 255, 255);

.timeL{
    position: absolute;
    height: 50px;
    width: 10px;
    background-color: $timelineColor;
    left: 10px;
    top: 10px;
    border-radius: 3px;
}

.line{
    width: 100%;
    background-color: $timelineColor;
    height: 10px;
    position: absolute;
    top: 30px;
}

.timeR{
    position: absolute;
    border-radius: 3px;
    right: -10px;
    top: 10px;
    height: 50px;
    width: 10px;
    background-color: $timelineColor;
}

.logoRace{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 20px;
    animation-name: logo;
    animation-duration:60s;
    animation-timing-function: linear;
}

@keyframes logo{
    0%{
        left: 0px;
    }
    100%{
        left: 100%;
    } 
}

