.raceUi{
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(rgba(0, 0, 0, 0.212),rgba(13, 13, 22, 0.219)), url(../../img/raceui/bgGradas.png);
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding-top: 0px;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
$gradas:130vw;
.bg-gradas{
    height: 60vh;
    width: 100%;
    background-image: url(../../img/raceui/gradas.png);
    background-repeat:repeat-x;
    background-position-x: right;
    background-position-y:top;
    background-size:$gradas 100%;
    animation-name: gradas;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes gradas {
    0%{
        background-position-x: $gradas;
    }
    100%{
        background-position-x: 0vw;
    }
}

.bg-pista{
    margin-top: -45px;
    height: 50vh;
    width: 100%;
    background-image: url(../../img/raceui/rect843.png);
    background-repeat:repeat-x;
    background-position-x: right;
    background-size: 100vw 50vh;
    animation-name: pista;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;
    z-index: inherit;
}

@keyframes pista {
    0%{
        background-position-x: 100vw;
    }
    100%{
        background-position-x: 0vw;
    }
}

.dog1{
    position: absolute;
    left:0px;
    top: -20px;
    height: 120px;
    z-index: 1;
}
.dog2{
    position: absolute;
    left: 0px;
    top: 5px;
    height: 125px;
    z-index: 1;
}
.dog3{
    position: absolute;
    left: 0px;
    top: 30px;
    height: 140px;
   z-index: 1;
}
.dog4{
    position: absolute;
    left: 0px;
    top: 57px;
    height: 150px;
   z-index: 5;
}
.dog5{
    position: absolute;
    left: 0px;
    top: 85px;
    height: 158px;
    z-index: 6;
    
}
.dog6{
    position: absolute;
    top: 110px;
    height: 170px;
    z-index: 7;
}
.dogImg{
    // width: 350px;
    height: 100%;
}
.meta{
    height: 70%;
    background-color: rgba(115, 246, 255, 0.664);
    width: 12px;
    transform: skew(20deg);
    left: 120vw;
    top: 47px;
    position: absolute;
    animation-name: meta;
    animation-duration: 4.2s;
    animation-delay: 57s;
    animation-timing-function: linear;
    z-index: 0;
}

@keyframes meta {
    0%{
        left: 120vw;

    }
    100%{
        left: -20vw;

    }
}

.guia2{
    width: 15px;
    height: 20px;
    border-top: 20px solid rgba(190, 253, 206, 0.863);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: 20px;
    left: 55%;
    position: absolute;
    animation: selectorX 1s infinite;
}
@keyframes selectorX {
    0% {
        border-top: 20px solid rgba(86, 230, 122, 0.938);
        transform: scale(1);
        top: 20px;
    }
    50%{
        border-top: 20px solid rgba(190, 253, 206, 0.507);
        transform: scale(0.9);
        top: 0px; 
    }
    100%{
        border-top: 20px solid rgba(64, 231, 106, 0.863);
        top: 20px;
        transform: scale(1);
    }
}

.modalX .modal{
    width: 31%;
    height: 60%;
    border-radius: 8px 8px 40px 40px;
    background-color: #0f161c;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    color: #fffc4f;
    position: relative;
    z-index: 1;
    font-weight: 600;
    overflow: visible;
}

.modalX .modal h2 {
    margin-top: 50px;
    font-size: 90px;
}
  
.modalX .modal .modal-body {
// position: relative;
text-align: center;
}
.modalX .modal .place {
    // position: absolute;
    top: 170px;
    left: 20px;
    font-size: 30px;
    width: 300px;
    text-align: center;
  }
  
  .modalX .modal button {
    background-color: #c9c041 !important;
    border-bottom: 4px solid #fffc4f !important;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .modalX .modal .circle {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #0f161c;
    top: -50px;
    z-index: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  
  .modalX .modal .trofeo {
    z-index: 1;
    width: 100%;
    max-width: 80px;
  }
  