$gradient1:rgb(19,19,19);
$gradient1transp:rgba(19,19,19,0.9);
$gradient2:rgb(41, 44, 49);
$gradient2transp:rgba(41, 44, 49, 0.9);
$text:#6e7191;
.unikeNav{
    position: fixed;
    z-index: 1;
    width: 100%;
    color: var(--light1);
    height: 52px;
    background-color: $gradient1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
.unikeRouter{
    min-height: 100vh !important;
    padding-top: 50px !important;
}
.min-h-100-50{
    height: 100vh - 10vh;
}

.bg1{
    background:linear-gradient($gradient1transp,$gradient2transp), url(../../img/bg.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.nftBg{
    background: linear-gradient($gradient2,$gradient1);
    padding: 20px 20px;
    border-radius: 30px;
}
.btn-ccan{
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    color: $text;    
    font-weight:600;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    background-color: $gradient2;
    &:hover{
        transform: scale(1.05) rotate(-1deg);
        box-shadow: inset -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    }

}

.wallet{
    background-color: $gradient2;
    border-radius:30px;
    width: 150px;
    align-items: center;
    display: flex;
    height: 25px;
    &:hover{
        border: 1px solid rgb(73, 73, 73);
        cursor: pointer;
    }
}
.wallet-circle{
    background-color: $gradient1;
    border: 2px solid $gradient2;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
}
.minted-text{
    font-size: 14px;
    font-weight: 600;
    color: $text;
}
.textGray div,.textGray h5{
    color: $text;
}
.pt-50{
    padding-top: 50px;
}
.nftCard{
    background: linear-gradient($gradient2,$gradient1);
    border-radius: 30px;
    transition: 0.3s;
    padding: 20px ;
    border: 1px solid $gradient2;
    &:hover{
        border:1px solid rgb(179, 179, 179);
        cursor: pointer;
        transform: scale(1.02);
        background-color: rgba(240, 248, 255, 0.03);
    }
}
.marketName{
    font-size: 18px;
    font-weight: 600;
}
.button-market{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    color: $text;    
    font-weight:600;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    background-color: $gradient2;
}
.lb-color{
    color: $text;
}
.item-id{
    font-size: 20px;
    font-weight: 600;
}
.wallet-market{
    font-size: 12px;
}
.nft-name{
    font-size: 18px;
    font-weight: 600;
}
.sidebar{
    color: $text;
    padding-top: 60px;
    position: relative;
}
.sidebar-bg{
    border-radius: 30px;
    padding: 20px;
    min-height: 500px;
    background: linear-gradient($gradient2, $gradient1);
    position: sticky;
    top:60px;
    width: 100%;
}
progress{
    max-width: 140px;
}