$gradient1:rgb(19,19,19);
$gradient1transp:rgba(19,19,19,0.9);
$gradient2:rgb(41, 44, 49);
$gradient2transp:rgba(41, 44, 49, 0.9);
$text:#6e7191;
$borders:rgb(65,60,80);
$textGray:rgb(80, 80, 80);
.unikeNav{
    position: fixed;
    z-index: 1;
    width: 100%;
    color: var(--light1);
    height: 52px;
    background-color: $gradient1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
.unikeRouter{
    min-height: 100vh !important;
    padding-top: 50px !important;
}
.min-h-100-50{
    height: 100vh - 10vh;
}

.bg1{
    background:linear-gradient(rgba(0, 0, 0, 0.99),rgba(0, 0, 0, 0.95)), url(../../img/fondo.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.nftBg{
    background: linear-gradient($gradient2,$gradient1);
    padding: 20px 20px;
    border-radius: 30px;
}
.btn-ccan{
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    color: $text;    
    font-weight:600;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    background-color: $gradient2;
    &:hover{
        transform: scale(1.05) rotate(-1deg);
        box-shadow: inset -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    }

}

.wallet{
    background-color: $gradient2;
    border-radius:30px;
    border: 1px solid transparent;
    width: 150px;
    align-items: center;
    display: flex;
    height: 25px;
    &:hover{
        border: 1px solid rgba(73, 73, 73, 0.838);
        cursor: pointer;
    }
}
.wallet-circle{
    background-color: $gradient1;
    border: 2px solid $gradient2;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    margin-left: -1px;
}
.minted-text{
    font-size: 14px;
    font-weight: 600;
    color: $text;
}
.textGray div,.textGray h5{
    color: $text;
}
.pt-50{
    padding-top: 50px;
}
.nftCard{
    background: linear-gradient($gradient2,$gradient1);
    border-radius: 30px;
    transition: 0.3s;
    padding: 20px ;
    //border: 1px solid $gradient2;
    /* border: 1px solid red;
    */
    position: relative; 
    &:hover{
        border:1px solid rgb(179, 179, 179);
        cursor: pointer;
        transform: scale(1.02);
        background-color: rgba(240, 248, 255, 0.03);
    }
}
.marketName{
    font-size: 18px;
    font-weight: 600;
}
.h40{
    height: 40px;
}
.button-market{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    color: $text;    
    font-weight:600;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    background-color: $gradient2;
}
.lb-color{
    color: $text;
}
.item-id{
    font-size: 20px;
    font-weight: 600;
}
.wallet-market{
    font-size: 12px;
}
.nft-name{
    font-size: 18px;
    font-weight: 600;
}
.sidebar{
    color: $text;
    padding-top: 60px;
    position: relative;
}
Link{
    text-decoration: none;
}
.sidebar-bg{
    padding: 20px;
    position: sticky;
    top: 50px;
    width: 100%;
    border-right: 1px solid rgb(65,60,80);
}
progress{
    max-width: 140px;
}
.cansSelection{
    z-index: 99;
    background-color: $gradient1transp;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}
.selectTittle{
    height: 50px;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selectTittle .tittle{
    padding-left: 1em;
}
.selectTittle button{
    background-color: transparent;
    font-size: 20px;
    border: none;
    height: 50px;
    width: 50px;
    color: aliceblue;
    &:hover{
        background-color: rgb(224, 13, 13);
    }
}

.containerSelectCans{
    overflow:scroll;
    height: 100vh;
    padding-bottom: 50px;
}
.totalStatsCard{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.totalStatsCard div{
    font-size: 10px;
    color:$text;
}
.racePop{
    background-color: $gradient1transp;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 90000;
}
.card{
    position: absolute;
    border: 5px solid red;
}
.onSale{
    background-color: rgba(209, 142, 18, 0.5);
    width: 100%;
    left: 0px;
    top:100px;
    text-align: right;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    position: absolute;
}
.canodromeCard{
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient($gradient2, $gradient1);
}
.cardCanodrome{
    background: linear-gradient($gradient1,$gradient2);
    padding: 10px;
    border-radius: 15px;
}
.imgCanodromeBg{
    background: linear-gradient($gradient1,$gradient2);
    border-radius: 20px;
}
.btnaddcan{
    border-radius: 15px;
    font-size: 30px;
    font-weight: 900;
    color: #6e7191;
    padding: 30px;
    background-color: transparent;
    border: 1px dotted #6e7191;
    width: 100%;
    height: 132px;
}
.racebg{
    height: 100vh;
    padding:70px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;

}
.rbtn1{
    background:linear-gradient(rgba(1, 40, 0, 0.875),rgba(37, 0, 36, 0.87)), url(../../img/single.jpg);
}
.rbtn2{
    background:linear-gradient(rgba(27, 27, 27, 0.966),rgba(15, 15, 15, 0.945)), url(../../img/copas.png);
}
.rbtn3{
    background:linear-gradient(rgba(27, 27, 27, 0.966),rgba(15, 15, 15, 0.945)), url(../../img/beats.webp);
}
.rbtn4{
    background:linear-gradient(rgba(1, 40, 0, 0.875),rgba(37, 0, 36, 0.87)), url(../../img/tikets/ticket.jpg);
}
.raceButton{
    height: 270px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content:end;
    align-items: end;
    font-size: 35px;
    font-weight: 700;
    box-shadow: -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    &:hover{
        box-shadow: inset -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
        background-color: $gradient2;
        cursor: pointer;
        transform: scale(1.05);
    }
}
.raceButtonComingSoon{
    height: 270px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content:end;
    align-items: end;
    font-size: 32px;
    font-weight: 700;
    box-shadow: -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.btn-gray{
    color: $textGray;
}
.cms{
    font-size: 12px;
    text-align: end;
    font-weight: 100;
    color: $textGray;
}
.raceCanodrome{
    background: linear-gradient($gradient1,$gradient2);
    box-shadow: -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    padding: 15px;
    border-radius: 15px;
}
.pista{
    background:linear-gradient( rgba(225, 0, 255, 0.653),rgba(48, 162, 255, 0.733)),url(../../img/stadium.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:420px !important;
    margin-bottom: 15px;
}
.carril{
    height: 70px;
    border-bottom: 1px solid rgb(151, 229, 255);
    display: flex;
}

.canInCarril{
    height: 69px;
    background-color: rgba(127, 255, 212, 0.5);
    width: 15%;
    &:hover{
        background-color: rgba(127, 255, 212, 0.7);
    }
}
.runCarril{
    height: 69px;
    background-color: rgba(0, 166, 255, 0.5);
    width: 85%;
    &:hover{
        background-color: rgba(0, 166, 255, 0.7); 
    }
}
.overflow{
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.pantalla{
    background-color: rgb(10, 10, 10);
    border: 1px solid rgba(255, 0, 0, 0.062);
    padding: 10px 0px;
}
.boxy{
    background-color: #023315d7;
    padding:5px 0px;
    width: 5%;
    font-size: 12px;
    margin: 0px;
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(0, 29, 4);
    
}
.boxy2{
    background-color: #035322d7;
    color: #fff;
    padding:5px 0px;
    width: 5%;
    font-size: 12px;
    margin: 0px;
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(0, 51, 7);
    &:hover{
        background-color: #006647;
        cursor: pointer; 
      }
}
.findTiket{
    background-color: #1d1d1d;
}
.vrfbtn{
    border: none !important;
    color: #fff;
    background-color:rgb(20, 218, 125) !important;
    border-radius: 20px;
    
    font-family: inherit;
    font-size: 17px;
    padding-left:10px !important;
    padding-right:10px !important;
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 1s infinite;
    animation: pulse512 1s infinite;
}
   
@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #03803bbe;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgba(68, 218, 68, 0);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgba(103, 218, 68, 0);
    }
}
.t{
    text-decoration: none !important;
    color: #fff;
    text-align: end;
}
.infoBtn{
    border: 1px solid rgb(100,100,100);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    color: rgb(100,100,100);
    transition: 0.3s;
    &:hover{
        background-color: #9e9e9e28;
        color: #fff;
        border: 1px solid rgb(255, 255, 255);
    }
}
.infoText{
    text-align: justify;
}
.jcc{
    justify-content: center;
}
.jcb{
    justify-content: space-between;
}
.jca{
    justify-content: space-around;
}
.aic{
    align-items: center;
}
.text-small{
    font-size: 14px;
}
.pass{
    border: 1px solid $textGray;
    border-radius: 10px;
    text-align: center;
    background-color: #50575509;
    display: flex;
    align-items: center;
}
.wall{
    text-align: end;
}
.raceUi{
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 0);
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 50px;
}

.bg-gradas{
    height: 60vh;
    width: 100%;
    background-image: url(../../img/raceui/g1065.png);
    background-repeat:repeat-x;
    background-position-x: right;
    background-size:100vw 60vh;
    animation-name: gradas;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes gradas {
    0%{
        background-position-x: 0vw;
    }
    100%{
        background-position-x: 100vw;
    }
}

.bg-pista{
    margin-top: -45px;
    height: 50vh;
    width: 100%;
    background-image: url(../../img/raceui/rect843.png);
    background-repeat:repeat-x;
    background-position-x: right;
    background-size: 100vw 50vh;
    animation-name: pista;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes pista {
    0%{
        background-position-x: 100vw;
    }
    100%{
        background-position-x: 0vw;
    }
}

.dog1{
    position: absolute;
    left:0px;
    top: 0px;
    height: 120px;
    z-index: 2;
}
.dog2{
    position: absolute;
    left: 0px;
    top: 15px;
    height: 130px;
    z-index: 3;
}
.dog3{
    position: absolute;
    left: 0px;
    top: 30px;
    height: 140px;
    z-index: 4;
}
.dog4{
    position: absolute;
    left: 0px;
    top: 45px;
    height: 150px;
    z-index: 5;
}
.dog5{
    position: absolute;
    left: 0px;
    top: 60px;
    height: 160px;
    z-index: 6;
}
.dog6{
    position: absolute;
    top: 75px;
    height: 170px;
    z-index: 7;
} 
.meta{
    height: 60%;
    background-color: rgba(255, 255, 255, 0.849);
    width: 12px;
    transform: skew(20deg);
    left: 120vw;
    top: 44px;
    position: absolute;
    animation-name: meta;
    animation-duration: 4.2s;
    animation-delay: 53s;
    animation-timing-function: linear;
    z-index: 1;
}

@keyframes meta {
    0%{
        left: 120vw;

    }
    100%{
        left: -20vw;

    }
}