$gradient1:rgb(19,19,19);
$gradient1transp:rgba(19,19,19,0.9);
$gradient2:rgb(41, 44, 49);
$gradient2transp:rgba(41, 44, 49, 0.9);
$text:#6e7191;
.unikeNav{
    position: fixed;
    z-index: 1;
    width: 100%;
    color: var(--light1);
    height: 52px;
    background-color: $gradient1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
.unikeRouter{
    min-height: 100vh !important;
    padding-top: 50px !important;
}
.min-h-100-50{
    height: 100vh - 10vh;
}

.bg1{
    background:linear-gradient(rgba(0, 0, 0, 0.913),rgba(0, 0, 0, 0.662)), url(../../img/fondo.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.nftBg{
    background: linear-gradient($gradient2,$gradient1);
    padding: 20px 20px;
    border-radius: 30px;
}
.btn-ccan{
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    color: $text;    
    font-weight:600;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    background-color: $gradient2;
    &:hover{
        transform: scale(1.05) rotate(-1deg);
        box-shadow: inset -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    }

}

.wallet{
    background-color: $gradient2;
    border-radius:30px;
    width: 150px;
    align-items: center;
    display: flex;
    height: 25px;
    &:hover{
        border: 1px solid rgb(73, 73, 73);
        cursor: pointer;
    }
}
.wallet-circle{
    background-color: $gradient1;
    border: 2px solid $gradient2;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
}
.minted-text{
    font-size: 14px;
    font-weight: 600;
    color: $text;
}
.textGray div,.textGray h5{
    color: $text;
}
.pt-50{
    padding-top: 50px;
}
.nftCard{
    background: linear-gradient($gradient2,$gradient1);
    border-radius: 30px;
    transition: 0.3s;
    padding: 20px ;
    //border: 1px solid $gradient2;
    /* border: 1px solid red;
    */
    position: relative; 
    &:hover{
        border:1px solid rgb(179, 179, 179);
        cursor: pointer;
        transform: scale(1.02);
        background-color: rgba(240, 248, 255, 0.03);
    }
}
.marketName{
    font-size: 18px;
    font-weight: 600;
}
.h40{
    height: 40px;
}
.button-market{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    color: $text;    
    font-weight:600;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    background-color: $gradient2;
}
.lb-color{
    color: $text;
}
.item-id{
    font-size: 20px;
    font-weight: 600;
}
.wallet-market{
    font-size: 12px;
}
.nft-name{
    font-size: 18px;
    font-weight: 600;
}
.sidebar{
    color: $text;
    padding-top: 60px;
    position: relative;
}
.sidebar-bg{
    border-radius: 30px;
    padding: 20px;
    min-height: 500px;
    background: linear-gradient($gradient2, $gradient1);
    position: sticky;
    top:60px;
    width: 100%;
}
progress{
    max-width: 140px;
}
.cansSelection{
    z-index: 99;
    background-color: $gradient1transp;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}
.selectTittle{
    height: 50px;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selectTittle .tittle{
    padding-left: 1em;
}
.selectTittle button{
    background-color: transparent;
    font-size: 20px;
    border: none;
    height: 50px;
    width: 50px;
    color: aliceblue;
    &:hover{
        background-color: rgb(224, 13, 13);
    }
}

.containerSelectCans{
    overflow:scroll;
    height: 100vh;
    padding-bottom: 50px;
}
.totalStatsCard{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.totalStatsCard div{
    font-size: 10px;
    color:$text;
}
.racePop{
    background-color: $gradient1transp;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 90000;
}
.card{
    position: absolute;
    border: 5px solid red;
}
.onSale{
    background-color: rgba(209, 142, 18, 0.5);
    width: 100%;
    left: 0px;
    top:100px;
    text-align: right;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    position: absolute;
}
.canodromeCard{
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient($gradient2, $gradient1);
}
.cardCanodrome{
    background: linear-gradient($gradient1,$gradient2);
    padding: 10px;
    border-radius: 15px;
}
.imgCanodromeBg{
    background: linear-gradient($gradient1,$gradient2);
    border-radius: 20px;
}
.btnaddcan{
    border-radius: 15px;
    font-size: 30px;
    font-weight: 900;
    color: #6e7191;
    padding: 30px;
    background-color: transparent;
    border: 1px dotted #6e7191;
    width: 100%;
    height: 132px;
}
.racebg{
    height: 100vh;
    padding:70px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;

}
.raceButton{
    height: 270px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-shadow: -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    background-color: $gradient1;
    transition: 0.5s;
    &:hover{
        box-shadow: inset -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
        background-color: $gradient2;
        cursor: pointer;
        transform: scale(1.05);
    }
}
.raceCanodrome{
    background: linear-gradient($gradient1,$gradient2);
    box-shadow: -6px -6px 12px hsl(0deg 0% 100% / 5%), 6px 6px 12px rgb(0 0 0 / 25%);
    padding: 15px;
    border-radius: 15px;
}
.pista{
    background:linear-gradient( rgba(225, 0, 255, 0.653),rgba(48, 162, 255, 0.733)),url(../../img/stadium.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:420px !important;
    margin-bottom: 15px;
}
.carril{
    height: 70px;
    border-bottom: 1px solid rgb(151, 229, 255);
    display: flex;
}

.canInCarril{
    height: 69px;
    background-color: rgba(127, 255, 212, 0.5);
    width: 15%;
    &:hover{
        background-color: rgba(127, 255, 212, 0.7);
    }
}
.runCarril{
    height: 69px;
    background-color: rgba(0, 166, 255, 0.5);
    width: 85%;
    &:hover{
        background-color: rgba(0, 166, 255, 0.7); 
    }
}
.overflow{
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 50px;
}