.menuSectionDshboard {
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.separator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.dashBody {
    height: 92vh;
    padding-bottom: 50px;
    overflow-y: scroll;
    padding-top: 50px;
}

.boxMenuDark {
    position: sticky;
    width: 100%;
}

.h100vh{
    height:100vh;
    padding-top: 50px;
    border-right: 1px solid rgba(255, 255, 255, 0.04);
}
.dashboardOptions{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.dashboardOptions button{
    border-radius: 20px;

}

.btn-primary {
    border: none !important;
    color: #fff;
    background-color:rgb(11, 114, 224) !important;
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding-left:10px !important;
    padding-right:10px !important;

   }
   
   .btn-primary:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

   .raceList{
       border-bottom: 1px solid rgba(255, 255, 255, 0.311);
       display: flex;
       justify-content: space-between;
   }
   .raceList div{
       width: 200px;
       text-align: center;
   }
   .canodromeCardMarket{
       background-color: #fefefe00;
       border: 1px solid $borders;
       padding: 5px;
       border-radius: 10px;
   }
   .price-canodrome{
       font-size: 30px;
       font-weight: 600;
   }