:root{
    --dark1:rgb(19,20,25);
    --dark2:rgb(32,34,46);
    --dark3:rgb(50,50,50);
    --light1:rgba(255, 255, 255, 0.781);
    --light2:rgba(255, 255, 255, 0.5);
    --line:rgb(65,60,80);
    --blue:rgb(0, 79, 168);
    --blue2:rgb(13, 99, 197);
    --blue3:rgb(3, 50, 104);
    --green:rgb(12, 160, 86);
    --transparentLight:rgba(210, 230, 255, 0.1);
    --neon:rgb(233, 64, 255);
}
h1,h2,h3,h4,h5,h6,p,div{
    color: var(--light1);
    margin: 0px;
    padding: 0px;
}
body{
    color: var(--light1);
    background-color:red;
    margin: 0px;
    padding:0px;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: var(--light1);
}
.clearFilterButton{
    text-decoration: none;
    background-color: var(--blue);
    color: var(--light1);
    padding: 2px 6px;
    border-radius: 3px;
}
.clearFilterButton:hover{
    color: antiquewhite;
    background-color: var(--blue2);
}

.link{
    border: none;
    text-decoration: none;
}
.buttonLink{
    color:var(--light1);
    border:none;
    padding: 8px 16px;
    background-color: rgba(2, 103, 170, 0);
}
.buttonLink:hover{
    background-color: rgba(138, 138, 138, 0.178);
}
.topNav{
    background-color: var(--dark1);
    color: var(--light1);
    height: 50px;
}
.secondNav{
    border-bottom: 1px solid var(--line);
    display: flex;
}
.logo-text{
    font-size: 20px;
    margin-top: -4px;
}
.he-50px{
    height: 50px;
}
.secondNavButton{
    border: 1px solid red;
    margin-bottom: -2px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    color:var(--light1);
}
.active{
    border-bottom: 3px solid var(--blue);
}
.secondNavButton:hover{
    background-color: rgba(255, 255, 255, 0.096);
    cursor: pointer;
}
.loaderContent{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}
.loaderIcon{
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    animation-name: loadingIcon;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes loadingIcon {
  100%{ transform: rotate(180deg);}
}
.sidebar{

    height: 100vh;
    color: white;
    padding: 20px 0 20px 0;
}
.select{
    background-color: transparent;
    border: 1px solid var(--line);
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    color: var(--light1);
    padding: 5px;
}
.optionFilter{
    background-color: var(--dark1);
    color: var(--light1);
}
.sidebarText{
    font-size: 14px;
    font-weight: 300;
    color: var(--light2);
}

.textRaza{
    font-size: 14px;
}
.listItems{
    padding-top: 20px;
    border-left:1px solid var(--line);
}
.nftCard{
    border: 1px solid var(--line);
    border-radius: 6px;
    transition: 0.3s;
}
.nftCard:hover{
    border:1px solid rgb(179, 179, 179);
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgba(240, 248, 255, 0.03);
}
.nftFeatures{
    background-color: rgba(0, 0, 0, 0.089);
}
.nftName{
    font-size: 20px;
    margin: 0px;
}
.rarity{
    border-radius: 6px;
    background-color: rgba(94, 191, 255, 0.603);
    padding: 2px 5px;
}
.raza{
    color: gray;
}
.box{
    background-color: var(--transparentLight);
    height: 180px;
    min-width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}
.dogFeatures{
    padding: 10px;
    border-radius: 8px;
    background-color: var(--transparentLight);
    width: 100%;
    position: relative;
}
.hr{
    margin: 5px 0px; 
    padding: 0px;
}
.nftSmall{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,254,255,1) 100%);
    border-radius: 8px;
    padding: 5px;
    height: 283px;
}
.nftRarity{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
}
.nftImg{
    height: 126px;
    padding: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.imgNft{
    height: 100px;
}
.nftName{
    color: black;
    text-align: center;
    font-size: small;
    height: 22px;
}
.nftStats{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    height:75px;
    padding-top: 4px;
}
.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}
.logoImg{
    height: 20px;
}
.logoNft{
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 20px;
    height: 20px;
}
.totalStats{
    justify-content: space-around;
    padding-top: 5px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.btn-list{
    color: var(--light1) !important;
    background-color: var(--transparentLight) !important;
}
.btn-list:hover{
    background-color: var(--line) !important;
}
.race{
    color: gray;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 50vh;
    margin-top: 50px;
    border: 2px solid var(--light1);
    transition: 0.3s;
    background-color: black;
}
.race2{
    color: gray;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 50vh;
    margin-top: 50px;
    border: 2px solid var(--light1);
    transition: 0.5s;
    background-color: var(--transparentLight);
}
.race:hover{
    border: 2px solid gray;
    transform: rotate(-1deg);
    background-color: var(--light1);
    cursor: pointer;
}

.box2{
    height: 280px;
    border-radius: 8px;
    padding: 10px;
    font-size: 40px;
}
.box2.c{
    background-color: rgba(38, 127, 179, 0.5);
}
.box2.e{
    background-color: rgba(7, 156, 111, 0.5);
}
.box2.l{
    background-color: rgba(163, 80, 241, 0.5);
}


.w-race{
    background-color: rgb(0, 255, 157);
}

.wRace{
    border: 2px solid rgb(180, 101, 10);
    width: 100%;
    background-color: rgba(95, 33, 22, 0.89);
    background-image: url(../img/piso.png);
    background-position: 0%;
    animation-duration: 20s;
    animation-name: piso;
}
.wRace2{
    border: 2px solid rgb(180, 101, 10);
    width: 100%;
    background-image: url(../img/piso.png);
}

@keyframes piso{
    0% { background-position: 200%;}
    100% {background-position: 0%;}
}


.parado{
    height:50px;
    margin-left: 90%;
}
.corriendo{
    height: 50px;
    position: relative;
    animation-name: perroAnimacion;
    animation-duration: 20s;
    animation-timing-function:ease-in;
}

@keyframes perroAnimacion {
  0%   {left:0px; top:0px;}
  100% {left:90%; top:0px;}
}

.corriendo2{
    height: 50px;
    position: relative;
    animation-name: perroAnimacion2;
    animation-duration: 19.7s;
    animation-timing-function:ease-in;
}

@keyframes perroAnimacion2 {
  0%   {left:0px; top:0px;}
  100% {left:90%; top:0px;}
}

.bg-dogs{
    background: linear-gradient(rgba(0, 17, 7, 0.95),rgba(1, 9, 24, 0.95) ), url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    min-height: 99vh;
    padding-left: 200px;
    padding-right: 200px;
}
/* .marco{
    background: linear-gradient(rgba(245,190,145, 0.5),rgba(245,105,220, 0.5) );
    border-radius: 10px;  
    padding: 80px 40px;
    display: inline-flex;
    align-items: center;
    box-shadow: inset 0px 0px 12px var(--neon);
    border: 1px solid var(--neon);
    outline: 1px solid white;
}
.neon{
    transition: 0.5s;
    padding: 2px;
    border: 1px solid var(--neon);
    box-shadow: 0px 0px 12px var(--neon);
    border-radius: 12px;
} */

.btn-ccan{
    background:linear-gradient(rgb(173, 40, 0),rgb(246, 201, 0) );
    display: block;
    margin: 0 auto;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(219, 205, 6);
    outline: 2px solid rgb(143, 45, 0);
    color: white;    
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    transition: 0.3s;
}
.btn-ccan:hover{
    background:linear-gradient(rgb(202, 55, 10),rgb(212, 181, 41) );
    transform: scale(1.01);
    cursor: pointer;
    outline: 2px solid rgb(199, 75, 18);
}
.nft-img{
    width: 160px;
}

.percent{
    text-align: left;
    padding-top: 10px;
    color: gray;
    font-size: 12px;
}
.wallet{
    background-color: rgba(240, 248, 255, 0.116);
    border-radius:30px;
    width: 150px;
    align-items: center;
    display: flex;
    height: 25px;
}
.wallet-circle{
    background-color: rgb(37, 37, 37);
    border: 2px solid rgb(121, 121, 121);
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
}
.nftBg{
    background: linear-gradient(rgba(8, 8, 8, 0.95),rgba(0, 0, 0, 0.95));
    padding: 20px 20px;
    border-radius: 10px;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-name: pack;
    animation-timing-function: ease-out;
}

@keyframes pack{
    0%{transform: translateY(100%) scale(.1)}
    100%{transform: translateY(0px) scale(1) ; }
}
.packages{
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.gray{
    color:rgb(117, 122, 138);
}
.racePop{
    background-color: rgba(0, 6, 12, 0.856);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    z-index: 90000;
}
.carrera{
    overflow-y: scroll;
    height: 80vh;
}
.carreraFondo{
    height: 300px;
    background-color: rgb(11, 97, 172);
    margin: 10px 0px;
}
.pista{
    height: 49px;
    border-bottom: 1px solid red;
}
.modalX{
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgba(14, 14, 14, 0.9);
    position: fixed;
    z-index: 9999;
    animation: modalX 0.5s ease-out;
}
@keyframes modalX {
    0%{background-color: transparent;}
    50%{transform: perspective(50deg);}
    100%{background-color: rgba(14,14,14,0.9);}
}
.modalIn{
    background-color: rgb(24, 24, 24);
    padding: 20px;
    border-radius: 10px;
    animation: modalIn 0.5s ease-out;
}
@keyframes modalIn {
    0%{transform:translateY(500px);}
    100%{ transform:translateY(0%);}
}

.modalbtn{
    min-width: 80px;
    margin: 0px 5px;
}

.reactModal{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}
.modalBody{
    border: 1px solid rgb(34, 34, 34);
    border-radius: 10px;
    background-color: rgb(24, 24, 29);
}
.modalHeader{
    padding: 20px;
}
.modalFooter{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.219);
}