@import "./pages/dashboard.scss";
@import "./componets/nav.scss";
@font-face { font-family: audiowide; src: url(./fonts/audiowide.ttf); }

$text:#e0fbff;
$Dark:grb(16,23,29);

body{
    font-family: Arial, Helvetica, sans-serif;
    color: $text;
}

h1,h2,h3,h4,h5,h6,button,div{
    font-family: audiowide;
    color: $text;
    margin: 0px;
    padding: 0px;
}
.etiketaEnviroment{
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: #fff;
    background-color: rgba(255, 0, 0, 0.493);
    padding: 2px 10px;
}